<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="あけおめをみんなでシェアハピ！" />
  <meta name="keywords" content="akeome,happy,2018" />
  <link rel="shortcut icon" href="https://18akeo.me/images/favicon.ico" />
  <meta property="og:title" content="あけおめ" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://18akeo.me" />
  <meta property="og:image" content="https://18akeo.me/images/ogp-image.png" />
  <meta property="og:site_name" content="あけおめ" />
  <meta property="og:description" content="あけおめをみんなでシェアハピ！" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@konojunya" />
  <meta name="twitter:title" content="あけおめ" />
  <meta name="twitter:description" content="あけおめをみんなでシェアハピ！" />
  <meta name="twitter:image" content="https://18akeo.me/images/ogp-image.png" />
  <meta name="twitter:url" content="https://18akeo.me" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66290615-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-66290615-5');
  </script>

  <title>使い方 | 18akeo.me</title>
  <style>
    body, html {
      background-color: #fafafafa;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>

  <div id="app">
    <howto></howto>
  </div>

  <script src="/js/howto.bundle.js"></script>
</body>
</html>